/* Стили */
/* roboto regular bold medium black  */
:root{
    --accent-color: #2196F3;
    --main-font: 'Roboto',
    sans-serif;
    --secondary-font: 'Raleway',
    sans-serif;
    --background-body: #ffffff;
    --text-color: #757575;
    --logo-color: #2196F3;
    --logo-theme-light-color: #000000;
    --logo-theme-dark-color: #FFFFFF;
    --title-color: #212121;
    --nav-menu-link-color: #212121;
    --main-title-color: #FFFFFF;
    --hero-background: #2F303A;
    --hero-button-color: #FFFFFF;
    --hero-button-background: #2196F3;
    --our_team-background: #F5F4FA;
    --page-footer-background: #2F303A;
    --address-text-color: #FFFFFF;
    --contacts-footer-link-color: rgba(255, 255, 255, 0.6);
    --filter-btn-color: #212121;
    --filter-btn-background: #F5F4FA;
    --filter-btn-focus-color: #FFFFFF;
    --border-image-color: #EEEEEE;
}

body{
    font-family:var(--main-font);
    color: var(--text-color);
    font-size: 14px;
    background-color: var(--background-body);
    
}
h1,h2,h3,h4,h5,h6,p,ul{
    margin-top: 0;
    margin-bottom: 0;
    
}
ul{
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
}
.item {
    list-style: none;
}

.link {
    text-decoration: none;
}
.list{
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
    /* background-color: tomato; */
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    /* outline: solid 2px tomato ; */
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.section:nth-child(3){
    padding-top: 0;
}
img {
    display: block;
    width: 100%;
    height: auto;
}

/* ======== логотип ======== */

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color);
    text-decoration: none;
  
    
}

.logo-theme-light{
    color: var(--logo-theme-light-color);
}
.logo-theme-dark{
    color: var(--logo-theme-dark-color);
}

/* ====== Навигация ====== */
.page-header{
    border: 0px solid #ECECEC;
    border-bottom-width: 1px;
}
.main-nav{
   display: flex;
   align-items: center;
   
}
.header-nav{
    display: flex;
    align-items: center;
    
}
.nav-menu-link,
.contacts-header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;    
    letter-spacing: 0.02em;
   
}
.nav-menu-item+ .item, .contacts-header-item+ .item{
    margin-left: 50px;
}
.nav-menu-link{
    display: block;
    color: var(--nav-menu-link-color);
    padding-top: 32px;
    padding-bottom: 32px;   

}
.nav-menu {
    display: flex;    
    margin-left: 93px;
    
}
.contacts-header{
display: flex;
margin-left: auto;

}

.contacts-header-link{
    display: block;
    color: inherit;
    padding-top: 32px;
    padding-bottom: 32px;
     
}

.nav-menu-link:hover,
.nav-menu-link:focus,
.contacts-header-link:hover,
.contacts-header-link:focus,
.contacts-footer-link:hover,
.contacts-footer-link:focus{
    color: var(--accent-color);
}
.active {
    color: var(--accent-color);
}

/* ====== Hero =====*/

.hero{
    
    background: var(--hero-background);
    text-align: center;
    
   
    
}
.hero-wraper{
   display: inline-block;
    
}
.main-title{
    width: 696px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-title-color);
    
    
}
.hero-button{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--hero-button-color);
    background: var(--hero-button-background);
    cursor: pointer;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: hidden;
    
  
}

/* =========== Особенности ========= */
 
.merit-items{
    display: flex;    
   
}
.merit-item{
    margin-right: 30px;
    width: 270px;
}
.merit-item:last-child{
    margin-right: 0;
}

.merit-title{
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
   
}
.merit-text{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
/* =========== Чем мы занимаемся ========= */


.product-title {

    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.product ul {
    display: flex;
}

.product-item+ .item{
    margin-left: 30px;
}


/* =========== Наша команда ========== */

.our_team{
    background: var(--our_team-background);
    /* outline: 2px solid tomato; */
    
    
}
.team{
    
   
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-list{
    display: flex;
   margin: 0;
   padding: 0;
}
.team-item+ .item{
    margin-left: 30px;
}
.team-item{
    background: #FFFFFF;
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.user-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;    
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
}
.user-position{
    margin-top: 0;
    margin-bottom: 30px;
  
    font-size: 16px;
    line-height: 1.18;    
    text-align: center;
    letter-spacing: 0.03em;
    
}
/* =========== Footer======== */
.footer-logo{
    display: block;
    margin-bottom: 20px;
}
.page-footer{
   
    background: var(--page-footer-background);
   
    padding-top: 60px;
    padding-bottom: 60px;
}


.contacts-footer-item{
    
    margin-top: 9px;
}
.contacts-footer-item:first-child{
    margin-top: 0;
}


.contacts-footer-link,
.contacts-footer-first{
   
    
    font-family: var(--main-font);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contacts-footer-link-color);
 
}
.contacts-footer-first {
    color: var(--address-text-color);
}


/* ================ Portfolio =================== */


.portfolio-filter{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio-item{
    margin-right: 8px;
}
.portfolio-item:last-child{
    margin-right: 0px;
}
.filter-btn{
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;    
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--filter-btn-color);
    cursor: pointer;
    background: var(--filter-btn-background);
    border-radius: 4px;
    padding: 6px 22px;
    border-color:#ffffff;
    border-style: hidden;
    
}

.filter-btn-active{
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 4px;
    background: var(--accent-color);
    color: var(--filter-btn-focus-color);
    padding: 6px 22px;
    border-style: hidden;
    
}
.filter-btn:hover,
.filter-btn:focus{
    background: var(--accent-color);
    color: var(--filter-btn-focus-color);
}

/* ========= photos ========= */

.photos{
    display: flex;
    flex-wrap: wrap;
    
}

.photos-item{
    margin-right: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--border-image-color);
    
   
}
.photo-img{
    display: block;
}
.photos-item:nth-child(3n + 3){
    margin-right: 0px;
}
.photos-item:nth-last-child(-n + 3){
    margin-bottom: 0;
}
.photos-title{
    margin-top: 0;
    margin-bottom: 4px;
   
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
    
}
.photos-text{
    
    font-size: 16px;
    line-height: 1.9;  
    letter-spacing: 0.03em;
   
}
.border-item{
    padding-top: 20px;
    padding-bottom: 20px;
}