/* Стили */
/* roboto regular bold medium black  */
:root{
    --accent-color: #2196F3;
    --main-font: 'Roboto',
    sans-serif;
    --secondary-font: 'Raleway',
    sans-serif;
    --text-color: #757575;
    --logo-color: #2196F3;
    --logo-theme-light-color: #000000;
    --logo-theme-dark-color: #FFFFFF;
    --title-color: #212121;
    --nav-menu-link-color: #212121;
    --main-title-color: #FFFFFF;
    --hero-background: #2F303A;
    --hero-button-color: #FFFFFF;
    --hero-button-background: #2196F3;
    --our_team-background: #F5F4FA;
    --page-footer-background: #2F303A;
    --address-text-color: #FFFFFF;
    --contacts-footer-link-color: rgba(255, 255, 255, 0.6);
    --filter-btn-color: #212121;
    --filter-btn-background: #F5F4FA;
    --filter-btn-focus-color: #FFFFFF;
}
body{
    font-family:var(--main-font);
    color: var(--text-color);
}
h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
}
.item {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* ======== логотип ======== */

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color);
    text-decoration: none;
}

.logo-theme-light{
    color: var(--logo-theme-light-color);
}
.logo-theme-dark{
    color: var(--logo-theme-dark-color);
}

/* ====== Навигация ====== */


.nav-menu-link,
.contacts-header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;    
    letter-spacing: 0.02em;
}
.nav-menu-link{
    color: var(--nav-menu-link-color);
}
.contacts-header-link{
    color: inherit; 
}

.nav-menu-link:hover,
.nav-menu-link:focus,
.contacts-header-link:hover,
.contacts-header-link:focus,
.contacts-footer-link:hover,
.contacts-footer-link:focus{
    color: var(--accent-color);
}
.active {
    color: var(--accent-color);
}

/* ====== Hero =====*/

.hero{
    background: var(--hero-background);
    
}
.main-title{
    font-weight: 900;
    font-size: 44px;
    line-height:1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-title-color);
}
.hero-button{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--hero-button-color);
    background: var(--hero-button-background);
    cursor: pointer;
  
}

/* =========== Особенности ========= */
.merit-title{
   
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
   
}
.merit-text{
    
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
/* =========== Чем мы занимаемся ========= */

.product-title{
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
/* =========== Наша команда ========== */

.our_team{
    background: var(--our_team-background);
}
.team{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.user-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;    
    text-align: center;
    letter-spacing: 0.03em;
}
.user-position{
    
  
    font-size: 16px;
    line-height: 1.18;    
    text-align: center;
    letter-spacing: 0.03em;
    
}
/* =========== Footer======== */
.page-footer{
    background: var(--page-footer-background);
}
.address-text{
  
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--address-text-color);
}
.contacts-footer-link{
    font-family: var(--main-font);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contacts-footer-link-color);
}

/* ================ Portfolio =================== */


.filter-btn{
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;    
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--filter-btn-color);
    cursor: pointer;
    background: var(--filter-btn-background);
    border-radius: 4px;
}
.filter-btn-active{
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 4px;
    background: var(--accent-color);
    color: var(--filter-btn-focus-color);
}
.filter-btn:hover,
.filter-btn:focus{
    background: var(--accent-color);
    color: var(--filter-btn-focus-color);
}

/* ========= photos ========= */

.photos-title{
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.photos-text{
    
    font-size: 16px;
    line-height: 1.9;  
    letter-spacing: 0.03em;
}